import React, { ReactElement } from 'react';
import css from './{{ kebabCase name }}.module.scss';

export interface I{{properCase name}}Props {
  title?: string;
}

/**
* {{ titleCase name }} Component Description
*/
export const {{ properCase name }} = ({ title }: I{{properCase name}}Props): ReactElement => {
  return (
    <div>
      {props.title}
    </div>
  );
};
